@model RhSensoWeb.Areas.SYS.DTOs.Taux1Dto
@{
    ViewData["Title"] = "Criar Tabela Auxiliar";
    ViewBag.IsEdit = false;
}

<h1 class="mb-3">@ViewData["Title"]</h1>

<form asp-area="SYS" asp-controller="Taux1" asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="_FormFields" model="Model" />

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
