@{
    ViewBag.Areas = "SEG";
    ViewBag.Views = "Tsistema";
    ViewBag.Controller = "Tsistema";
    //
    ViewBag.Icon = "monitor-smartphone"; // ícone padrão
    ViewBag.Title = "Tabela de Sistemas";
    ViewBag.SubTitle = "Segurança";
    //
    ViewBag.HabilitaBtnNovo = true;
    ViewBag.HabilitaBtnExportar = true;
    // Layout 
    Layout = "~/Views/Shared/_VerticalLayout.cshtml";
}

@section Styles {
    <!-- head (CSS) -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />

}


<!-- Container Toast de Alerta -->
@await Html.PartialAsync("~/Views/Shared/Partials/_ToastContainer.cshtml")

<!-- Titulo e Relegógio -->
@await Html.PartialAsync("~/Views/Shared/Partials/_PageTitle.cshtml")

<!-- Barra de pesquisa e botões de novo e exportação -->
@await Html.PartialAsync("~/Views/Shared/Partials/_TopBarShearhGrid.cshtml")


<div class="container-fluid p-3">
    <table id="tblTsistema" class="table table-striped w-100">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Ativo</th>
                <th>Ações</th>
            </tr>
        </thead>
    </table>
</div>

<!-- Modal padrão -->
<div class="modal fade" id="formModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Formulário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0"></div>
    </div>
  </div>
</div>


@section Scripts {
    <script type="module">
        import { createCrudPage } from "/js/crud/page-factory.js";
        import config from "/js/crud/pages/tsistema.config.js";
        window.addEventListener('DOMContentLoaded', () => createCrudPage(config));
    </script>

    <!-- antes de </body> (JS) -->
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
}





