@model RhSensoWeb.Models.Taux2
@{
    ViewBag.Title = "Editar Situação Auxiliar";
    ViewBag.IsEdit = true;
    Layout = null;
    var token = ViewContext.HttpContext.Request.Query["token"];
}

<h1 class="mb-3">@ViewBag.Title</h1>

<form asp-area="SYS" asp-controller="Taux2" asp-action="Edit" method="post" asp-route-token="@token">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="_FormFields" model="Model" />

</form>