<div class="modal fade" id="colVisModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <!-- sem modal-dialog-scrollable -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fa-solid fa-table-columns me-2"></i> Colunas visíveis
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="colvis-holder" class="w-100"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="colvis-reset" class="btn btn-outline-secondary">Padrão</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
