<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Formulário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" id="formModalBody">
        <div class="d-flex justify-content-center my-4">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
          <span class="visually-hidden">Carregando...</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark me-1"></i>Cancelar
        </button>
        <button type="button" class="btn btn-primary" id="saveFormBtn">
          <i class="fa-solid fa-save me-1"></i>Salvar
        </button>
      </div>
    </div>
  </div>
</div>
