<!-- Theme Settings -->
<div class="offcanvas offcanvas-end overflow-hidden" tabindex="-1" id="canvas-show-debug">
    <div class="d-flex justify-content-between text-bg-primary gap-2 p-3"
         style="background-image: url(/images/user-bg-pattern.png);">
        <div>
            <h5 class="mb-1 fw-bold text-white text-uppercase">Admin Customizer</h5>
            <p class="text-white text-opacity-75 fst-italic fw-medium mb-0">
                Easily configure layout, styles, and
                preferences for your admin interface.
            </p>
        </div>

        <div class="flex-grow-0">
            <button type="button" class="d-block btn btn-sm bg-white bg-opacity-25 text-white rounded-circle btn-icon"
                    data-bs-dismiss="offcanvas">
                <i class="ti ti-x fs-lg"></i>
            </button>
        </div>
    </div>

    <div class="offcanvas-body p-0 h-100" data-simplebar>
        
        <!---->
        <!---->
               

    </div>

    <div class="offcanvas-footer border-top p-3 text-center">
        <div class="row">
            <div class="col-6">
                
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-light fw-semibold py-2 w-100" id="reset-layout">Reset</button>
            </div>
        </div>
    </div>
</div>